<ion-header>
  <ion-toolbar>
    <ion-title>
      마이 페이지
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wrap" *ngIf="userid == null">
    <button class="butn" [routerLink]="['/login']" routerDirection="forward">로그인</button><br>
    <button class="butn" [routerLink]="['/register']" routerDirection="forward">회원가입</button>
  </div>
  <div *ngIf="userid!=null">
    <div id="b">
      <ion-card>
        <ion-card-content>
          <ion-item>
            <div id="text">
              {{userid}}
            </div>
          </ion-item>
          <ion-item>
            <div id="text">
              <ion-button color="medium" expand="full" (click)="logout()">로그아웃</ion-button>
            </div> 
          </ion-item>
        </ion-card-content>
      </ion-card>
    <br><br>
      <ion-card>
        <ion-card-content>
          <ion-item>
            <ion-buttons slot="end" size="large">
              <ion-icon name="list" (click)="toText()"></ion-icon>
            </ion-buttons>
             내가 쓴 글
          </ion-item>
          <ion-item>
            <ion-buttons slot="end" size="large">
              <ion-icon name="heart-empty" (click)="toLike()"></ion-icon>
            </ion-buttons>
              내가 좋아요한 글
          </ion-item>
          <ion-item>
            <ion-buttons slot="end" size="large">
              <ion-icon name="star-outline" (click)="toScrap()"></ion-icon>
            </ion-buttons>
              내가 스크랩한 글
          </ion-item>
        </ion-card-content>
      </ion-card>
  </div>
  </div>
</ion-content>