#b{
    width: 100%;
    text-align: center;
    margin-top: 50px;
 }
#text{
    width:100%;
    text-align:center;
    align-self:center;
}

body {
   font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: 14px;
}

.wrap {
	width:100%;
    text-align: center;
    margin-top: 150px;
}

button.lout{
    display: block;
    margin: 0px auto;
	border-radius: 4px;
}

button.butn {
	display: block;
    margin: 20px auto;
    width: 200px;
	text-decoration: none;
    border-radius: 4px;
    padding: 20px 30px;
    color: rgba(30, 22, 54, 0.6);
    background-color: lightblue;
	box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
}

button.butn:hover {
	color: rgba(255, 255, 255, 0.85);
	box-shadow: rgba(30, 22, 54, 0.7) 0 0px 0px 40px inset;
}
