<ion-header>
  <ion-toolbar>
    <ion-title>
      글쓰기
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
                           
      <ion-item>
         <ion-label position ="floating">제목</ion-label>
         <ion-input type = "text" [(ngModel)]="titleInput"></ion-input>
      </ion-item>
      <!-- 전공 먼저 선택 후 수업 선택 가능하게-->
      <ion-item>  
        <ion-label>전공</ion-label>
        <ion-select placeholder="Select One" [(ngModel)]="majorInput" >
          <ion-select-option value="com">컴퓨터공학</ion-select-option>
          <ion-select-option value="robot">기계로봇</ion-select-option>
        </ion-select>
      </ion-item>

      <!-- default로 보이는게 있게끔 -->
      <ion-item>  
        <ion-label>수업명</ion-label>
        <div *ngIf="majorInput == 'com'">
          <ion-select placeholder="Select One" [(ngModel)]="classInput">
            <ion-select-option value="CSE4074">공개sw</ion-select-option>
            <ion-select-option value="CSE2022"> 심화프로그래밍</ion-select-option>
          </ion-select>
        </div>
        <div *ngIf="majorInput == 'robot'">
          <ion-select placeholder="Select One" [(ngModel)]="classInput">
            <ion-select-option value="MEC2020">창의적공학설계</ion-select-option>
            <ion-select-option value="MEC2034"> 로봇프로그래밍</ion-select-option>
          </ion-select>
        </div>
      </ion-item>
      
      <ion-item>  
        <ion-label position ="floating">담당교원</ion-label>
        <ion-input type = "text" [(ngModel)]="profInput"></ion-input>
      </ion-item>

     <ion-item>  
        <ion-label position ="floating">플젝 시작</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="sdateInput"></ion-datetime>
      </ion-item>

      <ion-item>  
        <ion-label position ="floating">플젝 종료</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" [min]="sdateInput" [(ngModel)]="edateInput"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label position ="floating">내용</ion-label>
        <ion-textarea rows="8" [(ngModel)]="conInput"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label position ="floating">해시태그</ion-label>
        <ion-input type = "text" [(ngModel)]="hashtag"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card> 
  <ion-button (click)="register()">글쓰기</ion-button>
</ion-content>
