<ion-header>
  <ion-toolbar>
    <ion-title>
      글쓰기
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
                           
      <ion-item>
         <ion-label position ="floating">제목</ion-label>
         <ion-input type = "text" [(ngModel)]="titleInput"></ion-input>
      </ion-item>
      <!-- 전공 먼저 선택 후 수업 선택 가능하게-->
      <ion-item>  
        <ion-label>전공</ion-label>
        <ion-select placeholder="Select One" [(ngModel)]="majorInput" >
          <ion-select-option value="컴퓨터공학과">컴퓨터공학</ion-select-option>
          <ion-select-option value="기계로봇공학과">기계로봇</ion-select-option>
        </ion-select>
      </ion-item>

      <!-- default로 보이는게 있게끔 -->
      <ion-item>  
        <ion-label>수업명</ion-label>
        <div *ngIf="majorInput == '컴퓨터공학과'">
          <ion-select placeholder="Select One" [(ngModel)]="classInput">
            <ion-select-option value="공개소프트웨어">공개sw</ion-select-option>
            <ion-select-option value="심화프로그래밍"> 심화프로그래밍</ion-select-option>
          </ion-select>
        </div>
        <div *ngIf="majorInput == '기계로봇공학과'">
          <ion-select placeholder="Select One" [(ngModel)]="classInput">
            <ion-select-option value="창의적공학설계">창의적공학설계</ion-select-option>
            <ion-select-option value="로봇프로그래밍"> 로봇프로그래밍</ion-select-option>
          </ion-select>
        </div>
      </ion-item>
      
      <ion-item>  
        <ion-label position ="floating">담당교원</ion-label>
        <ion-input type = "text" [(ngModel)]="profInput"></ion-input>
      </ion-item>

     <ion-item>  
        <ion-label position ="floating">플젝 시작</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="sdateInput"></ion-datetime>
      </ion-item>

      <ion-item>  
        <ion-label position ="floating">플젝 종료</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" [min]="sdateInput" [(ngModel)]="edateInput"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label position ="floating">깃허브 주소</ion-label>
        <ion-input type = "text" [(ngModel)]="gitadd"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position ="floating">내용</ion-label>
        <ion-textarea rows="8" [(ngModel)]="conInput"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label position ="floating">해시태그</ion-label>
        <rl-tag-input
          [(ngModel)]="hashtag" placeholder="사용한 언어나 기술, 프로젝트를 설명해줄 수 있는 키워드를 입력해주세요">
        </rl-tag-input>
      </ion-item>
      <ion-item>
        <ion-label position ="floating">이미지</ion-label>
        <br><br>
        <div id="camera"></div>
        <button ion-button (click)="pickPicture()">img upload</button>
      </ion-item>
    </ion-card-content>
  </ion-card> 
  <ion-button (click)="register()">글쓰기</ion-button>
  <!-- 방금 storage에 저장한 이미지 다운로드 url 가져오나 확인해보려고 추가한 버튼-->
</ion-content>
