<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab4"></ion-back-button>
    </ion-buttons>
    <ion-title>Chatroom</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="chat" *ngFor="let chat of chatRef | async">
    <div class="me" *ngIf="Email==chat.Email && you==chat.You">
      {{chat.Message}}
    </div>
    <div class="you" *ngIf="Email==chat.You && you==chat.Email"> <!-- 상대방 -->
      <span class="name">
        {{chat.Email}}
      </span><br>
        {{chat.Message}}
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-item>
    <ion-input placeholder="Type.." [(ngModel)]="text"></ion-input>
    <ion-button (click)="send()" fill="clear" icon-only slot="end">
      <ion-icon name="send"></ion-icon>
    </ion-button>
  </ion-item>
</ion-footer>