.chat{
    display:flex;
    flex-direction: column;
    .me{
        position:relative;
        margin:20px 5px 0px;
        max-width:80%;
        align-self:flex-end;
        padding:6px 10px 7px;
        border-radius: 15px 15px 0;
        background:#A6E3E9;
        font-size:medium;
        line-height:1.5;
    }
    .you{
        position:relative;
        margin:15px;
        max-width:80%;
        align-self:flex-start;
        padding:6px 10px 7px;
        border-radius: 15px 15px 15px 0;
        background: #DEFCFC;
        font-size:medium;
        line-height:1.5; 
    }
    .name{
        font-size:small;
        font-weight:bold;
        
    }
}
.message {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 4px;
    white-space: pre-wrap;

}