.chatting{
    display:flex;
    flex-direction:column;
    .you{
        //margin:10px;
        width:100%;
        height:50px;
        align-self:flex-start;
        background:rgba(183, 223, 255, 0.904);
        font-size:20;
        text-align:center;
        line-height:2;
    }
}
