<ion-header>
  <ion-toolbar>
    <ion-title>
      채팅
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  {{Email}}
  <ion-list>
    <div class="chatting" *ngFor="let chatting of chattingRef | async">
      <div  class="you" ion-item *ngIf="Email==chatting.uid1">
          {{chatting.uid2}}
          <span style="float:right">
            <ion-button (click)="openChat(chatting.uid2)">
              <ion-icon name="arrow-forward"></ion-icon>
            </ion-button>
          </span>
      </div>
      <div  class="you" ion-item *ngIf="Email==chatting.uid2">
          {{chatting.uid1}}
          <span style="float:right">
            <ion-button (click)="openChat(chatting.uid1)">
              <ion-icon name="arrow-forward"></ion-icon>
            </ion-button>
          </span>
      </div>
    </div>
  </ion-list>
</ion-content>
