
<ion-header>
  <ion-toolbar  style="height: 50px;">
    <ion-title>
      붓 다 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style = "height: 20%">
    
    <ion-row justify-content-center align-items-start >
      <ion-searchbar placeholder="전공, 프로젝트를 검색해보세요"></ion-searchbar>
    </ion-row>

    <ion-row>
      <ion-col *ngFor="let item of items" col-12 no-padding>
        <ion-card (tap)="loadList()"  >
          <img src="/assets/img/ionic.png" width="100px" height="80px"/>
<ion-card-content >
    <!-- class="fixline" -->
    <ion-card-header class="text" >
        {{item.tag}}
        <p>
          {{item.major}}
        </p>
      </ion-card-header>
</ion-card-content>


        </ion-card>
      </ion-col>
    </ion-row>


  </ion-grid>
</ion-content>

