
<ion-header>
  <ion-toolbar  style="height: 50px;">
   
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style = "height: 200%">
    <ion-row justify-content-center align-items-start >
      <ion-searchbar (click)="searchView()" placeholder="수업명을 검색해보세요"></ion-searchbar>
        </ion-row>

    <ion-row>
      <ion-col *ngFor="let item of posttags" col-6 no-padding>
        <ion-card (click)="loadList(item)"  >
          <img src="{{imgurls[item]}}" width="150px" height="120px"/>

<ion-card-content class="fixline" >
    <!-- class="fixline" -->
        {{item}}
       <p>게시글 수:&nbsp;{{postnum[item]}}</p>
</ion-card-content>


        </ion-card>
      </ion-col>
    </ion-row>


  </ion-grid>
</ion-content>

