
<ion-header>
  <ion-toolbar  style="height: 50px;">
    <ion-title >
      <br>
      붓 다 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style = "height: 200%">
    <ion-row justify-content-center align-items-start >
      <ion-searchbar placeholder="전공, 프로젝트를 검색해보세요"></ion-searchbar>
    </ion-row>

    <ion-row>
      <ion-col *ngFor="let item of items" no-padding>
        
        <ion-card (click)="loadList(item)">
          
          <img src="{{item.img}}" width=45% height="120px"/>
  <ion-card-content class="fixline" >
      <!-- class="fixline" -->
          {{item.tag}}
        
  </ion-card-content>


        </ion-card>
      </ion-col>
    </ion-row>


  </ion-grid>
</ion-content>

