<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
<link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
<link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
<ion-header>
  <ion-toolbar>
      <ion-buttons slot = "start" color = "primary">
          <ion-back-button text="" defaultHref = "/tabs/tab1"></ion-back-button>
        </ion-buttons>
    <ion-title>chatbot</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-chat-dialog></app-chat-dialog>
</ion-content>
