<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
        </ion-buttons>
    <ion-title>{{hashtag}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-col *ngFor="let item of items" col-12 no-padding>
        <ion-card (click)="getPost(item)"  >
          <img src="{{item.img}}" width="100px" height="150px"/>
          <ion-card-content >
          
                    <ion-col>{{item.title}}   </ion-col> &nbsp;&nbsp;&nbsp; <ion-col> 좋아요:{{item.like}} </ion-col><ion-col></ion-col>
               
          </ion-card-content>
        </ion-card>
      </ion-col>

</ion-content>
