<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button text="" defaultHref="/tabs/tab1"></ion-back-button>
        </ion-buttons>
    <ion-title>#{{hashtag}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-col *ngFor="let item of items" col-12 no-padding>
        <ion-card (click)="getPost(item)"  >
          <img src="{{item.img}}" width="100px" height="150px"/>
          <ion-card-content >
          <ion-row>
                    <ion-col width-100><h1>{{item.title}}  </h1> </ion-col>  
\                  </ion-row>
                    <ion-row>
                      <ion-col width-30><h4>{{item.major}}&nbsp;&nbsp;{{item.classN}} &nbsp;&nbsp;<ion-icon name="heart"></ion-icon>{{item.like}} </h4></ion-col>
                    </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>

</ion-content>
