<ion-header>
  <ion-toolbar color = "pirmary">
    <ion-title>
      Ionic Chat
    </ion-title>
    <ion-buttons slot="end" (click)="delcheck()">
      <ion-icon name="trash" size="large"></ion-icon>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
      <ion-grid>
        <ion-row  *ngFor="let message of messages">
          <ion-col size ="8" *ngIf = "message.sender == 'api'" class = "message other-message">
           <span>{{ message.text}}
           </span> 
           <div class="time" text-right><br>
            {{message.createdAt | date:'short' }}</div>
          </ion-col>
          <ion-col offset="3" size="8" *ngIf = "message.sender == 'me'" class = "message my-message">
            <span> {{ message.text}}</span> 
            <div class="time" text-right><br>
              {{message.createdAt | date:'short' }}</div>
          </ion-col>
        </ion-row>
      </ion-grid>
     </ion-content>
    
<ion-footer>
 <!--<ion-toolbar color="light">--> 
    <!--처음 시작-->
    <ion-button *ngIf = "check == -1" (click) = "popularContent()"> 인기 많은 게시글 </ion-button>
    <ion-button *ngIf = "check == -1" (click) = "recommand()"> 프로젝트 추천 </ion-button>
    <ion-button *ngIf = "check == -1" (click)="manual()"> 앱 설명 </ion-button>
    <!--깃 이돈, 게시글 보여주기-->
    <ion-button *ngIf = "check == 1 || check == 7 || check == 6 || check == 10" a href = "{{gitaddress}}">git 이동 </ion-button>
    <ion-button *ngIf = "check == 1 || check == 7 || check == 6 || check == 8 || check == 10" (click) = "goto()"> 게시글 보기 </ion-button>
    <!-- 대답 -->
    <ion-button value = '네!!' *ngIf = "check == 3 " (click)="yes()"> 네!! </ion-button>
    <ion-button value = '아니요..' *ngIf = "check == 3" (click)="no()"> 아니요.. </ion-button>
    <!-- 전공 선택 -->
    <ion-button  *ngIf = "check == 4 || check == 5" (click)="compu()"> 컴공 </ion-button>
    <ion-button  *ngIf = "check == 4 || check == 5" (click)="elec()"> 멀미 </ion-button>
    <ion-button  *ngIf = "check == 4 || check == 5" (click)="info()"> 정통 </ion-button>
    <ion-button  *ngIf = "check == 4 " (click)="allgood()"> 노상관 </ion-button>
    <ion-button *ngIf = "check == 6" (click)="bad()"> 다시 추천해 주세요 </ion-button>
    <ion-button *ngIf = "check == 9" (click)="golist()"> 게시글 보기 </ion-button>
        <ion-item> 
        <ion-input type="text" autosize maxRows="4" [(ngModel)]="text" class="message-input" (keyup.enter)="ask()"></ion-input>
        <ion-button expand="block" fill="clear" color = "primary" [disabled]="text ===''"  class ="msg-btn"
         (click)="ask() ">
         <ion-icon name="send" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-item>
 <!-- </ion-toolbar>-->
</ion-footer>


