<ion-header>
  <ion-toolbar color = "pirmary">
    <ion-title>
      Ionic Chat
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button ion-fab color="danger">
          <ion-icon name="mic"></ion-icon>
        </ion-fab-button>
      </ion-fab>
 
      <ion-grid>
        <ion-row  *ngFor="let message of messages" >
       <!--  <ion-avatar slot="start" *ngIf = "message.sender == 'api'">
            <img src = "">
          </ion-avatar>
          <ion-avatar slot="end" *ngIf = "message.sender == 'me'">
              <img src = "">
          </ion-avatar>--> 
          <ion-col size ="8" *ngIf = "message.sender == 'api'" class = "message other-message">
           <span>{{ message.text}}
           </span> 
           <div class="time" text-right><br>
            {{message.createdAt | date:'short' }}</div>
          </ion-col>
          <ion-col offset="3" size="8" *ngIf = "message.sender == 'me'" class = "message my-message">
            <span> {{ message.text}}</span> 
            <div class="time" text-right><br>
              {{message.createdAt | date:'short' }}</div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-button *ngIf = "check == 1" a href = "{{gitaddress}}"> 깃 으로 이동 </ion-button>
      <ion-button *ngIf = "check == 2" (click) = "goto()"> 1위 </ion-button>
      <ion-button *ngIf = "check == 2" a href = "https://www.google.com/"> 2위 </ion-button>
      <ion-button *ngIf = "check == 2" a href = "https://www.google.com/"> 3위 </ion-button>
    </ion-content>

<ion-footer>
  <ion-toolbar color="light">
    <ion-item> 
        <ion-input type="text" autosize maxRows="4" [(ngModel)]="text" class="message-input" (keyup.enter)="ask()"></ion-input>
      
        <ion-button expand="block" fill="clear" color = "primary" [disabled]="text ===''"  class ="msg-btn"
         (click)="ask() ">
         <ion-icon name="send" slot="icon-only"></ion-icon>
        </ion-button>
        
      </ion-item>
  </ion-toolbar>
</ion-footer>

