
.message {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 4px;
    white-space: pre-wrap;

}
.other-message {
    background-color: #DEFCFC;
    color:black;
    
}

.my-message {
    background-color: #A6E3E9;
    color:black;
}
.time {
    color: #dfdfdf;
    float: right;
    font-size: small;
}