<ion-header>
  <ion-toolbar>
    <ion-title>
   {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>

  <ion-card-content>
      <ion-item>
          <ion-label position ="floating">사진</ion-label>
      </ion-item>
      <ion-item>
          <ion-label position ="floating"></ion-label>
      </ion-item>
      <ion-item>
          <ion-label position ="floating">제목</ion-label>
      </ion-item>

    <ion-item>
        <ion-label position ="floating">제목</ion-label>
    </ion-item>

    <ion-item>
        <ion-label position ="floating">전공</ion-label>
    </ion-item>

    <ion-item>
        <ion-label position ="floating">수업명</ion-label>
    </ion-item>
    <ion-item>
        <ion-label position ="floating">담당교원</ion-label>
    </ion-item>
    <ion-item>
        <ion-label position ="floating">시작일</ion-label>
    </ion-item>

    <ion-item>
        <ion-label position ="floating">종료일</ion-label>
    </ion-item>

    <ion-item>
        <ion-label position ="floating">내용</ion-label>
    </ion-item>
    <ion-item>
        <ion-label position ="floating">해시태그</ion-label>
    </ion-item>
    <ion-item>
        <ion-label position ="floating">이미지</ion-label>
    </ion-item>

  </ion-card-content>
</ion-card>
</ion-content>


