
<ion-header>
    <ion-toolbar>
          <ion-buttons slot="start">
              <ion-back-button defaultHref="/"></ion-back-button>
          </ion-buttons>
      <ion-title>
     {{title}}
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
  <ion-card>
    <ion-card-content *ngFor="let item of item">
        <ion-item>
            <ion-label position ="floating">
                  <img src="{{item.img}}"/>
            </ion-label>
        </ion-item>
        <ion-item >
            <ion-label position ="floating">
                <table>
                  <tr>
                        <td><ion-button  shape="round" fill="outline"(click)="gotoChat(item.user)"><ion-icon name="contact"></ion-icon>{{item.user}}</ion-button></td>
                        <td>
  
                      <!-- <td><ion-button (click)="gotoChat(item.user)"><ion-icon name="contact"></ion-icon>{{item.user}}</ion-button></td> -->
                      <td>
                        <ion-icon (click)="unfavoritePost()" *ngIf="isFavorite" name="heart" size="large" class=
                        "fullheart" ></ion-icon>
                        <ion-icon (click)="favoritePost()" *ngIf="!isFavorite" name="heart-empty" size="large" class="fullheart"></ion-icon>
                        <ion-icon (click)="unscrapPost()" *ngIf="isScrapped" name="star" size="large" class=
                        "fullstar" ></ion-icon>
                        <ion-icon (click)="scrapPost()" *ngIf="!isScrapped" name="star-outline" size="large" class="fullstar"></ion-icon>
                    </td>
                  </tr>
  
                </table>
              </ion-label>
        </ion-item>
      <ion-item>
          <ion-label position ="floating">
              <b>전공&nbsp;</b> {{item.major}}
          </ion-label>
      </ion-item>
  
      <ion-item>
          <ion-label position ="floating">
              <b>수업명&nbsp;</b> {{item.classN}}
          </ion-label>
      </ion-item>
      <ion-item>
          <ion-label position ="floating">
              <b>담당교원&nbsp;</b> {{item.prof}}
          </ion-label>
      </ion-item>
      <ion-item>
          <ion-label position ="floating">
              <b>수행기간&nbsp;</b>{{item.sdate}}~{{item.edate}}
          </ion-label>
      </ion-item>
      <ion-item>
        <ion-label position ="floating">
            <b>사용한 언어&nbsp;</b>{{item.con2}}
        </ion-label>
      </ion-item>

      <ion-item>
          <ion-label>
          <b>프로젝트에 대한 설명</b>
          <ion-content
              [scrollEvents]="true"
              (ionScrollStart)="logScrollStart()"
              (ionScroll)="logScrolling($event)"
              (ionScrollEnd)="logScrollEnd()" class="content">
             {{tmpC}}
          </ion-content>
      </ion-label>   
      </ion-item>

      <ion-item>
            <ion-label>
            <b>프로젝트 실행 방법</b>
            <ion-content
                [scrollEvents]="true"
                (ionScrollStart)="logScrollStart()"
                (ionScroll)="logScrolling($event)"
                (ionScrollEnd)="logScrollEnd()" class="content">
               {{tmpC2}}
            </ion-content>
        </ion-label>   
        </ion-item>
        
        <ion-item>
            <ion-label position ="floating">
                <b>실행환경&nbsp;</b>{{item.con4}}
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label position ="floating">
                <b>깃허브&nbsp;</b> <a href="{{item.git}}">{{item.git}}</a>
            </ion-label>
        </ion-item>
            
      <ion-item>
          <ion-label position ="floating">
              <b>해시태그&nbsp;</b> 
              <ion-content
              [scrollEvents]="true"
              (ionScrollStart)="logScrollStart()"
              (ionScroll)="logScrolling($event)"
              (ionScrollEnd)="logScrollEnd()" class="tags">
              {{item.tag}}
              </ion-content>
          </ion-label>
      </ion-item>

    </ion-card-content>
  </ion-card>
  </ion-content>
  
  
  
  
  